# Build artifacts
bin/
obj/

# VS Code
.vscode/

# VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.app
*.pdb
*.cache
*.log

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
*.csproj.user

# Others
*.dbmdl
*.dbproj.schemaview
*.sdf
*.class
*.tmp
*.bak
*.backup
*.log
*.vsidx

# Web
staticwebassets.build.json
staticwebassets.runtime.json

# OS specific
.DS_Store
Thumbs.db
